<div class="d-flex flex-row bd-highlight mb-9">
  <div class="p-2 w-100 bd-highlight">

    <div class="input-group mb-12">
      <div class="col-md-12">
        <div class="col-md-3">
          <span>First Name</span>
        </div>
        <div class="col-md-6">
          <input type="text" style="border:solid" class="form-control" [(ngModel)]="FirstName">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <span>Last Name</span>
        </div>
        <div class="col-md-6">
          <input type="text" style="border:solid" class="form-control" [(ngModel)]="LastName">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <span>Email</span>
        </div>
        <div class="col-md-6">
          <input type="text" style="border:solid" class="form-control" disabled="disabled" [(ngModel)]="Email">
        </div>
      </div>
      
      
    </div>
  </div>
</div>


<button (click)="updateUser()" class="btn btn-primary">
  Update
</button>